.upper1 {
  background-color: #fff;
  border: none;
  color: #000;
  padding: 0 3vh;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 9vh;
}
.upper1 span{
  color: #B77A48;
  font-size: 4vw;
  font-family: 'Libre Baskerville', serif;
}
.upper1 button{
  float: right;
  border: 2px solid #BC8355;
  background-color: transparent;
  width: 25vh;
  height: 4vh;
  margin: 3vh;
  border-radius: 10px;
  font-size: 2vh;
  color: #BC8355;
}
.upper1 button:hover{
  transform: scale(1.1);
}

.mid-details{
  text-align: center;
  background-color: #FAFAFA;

  width: 100%;
}
.feedback{
  height: 50vh;
  background-color: #FFFFFF;
  margin: 10px 25%;
  overflow-y: auto;
}
.body{
  background-color: #EFF0F5;
}
.feedback textarea{
  width: 100%;
  height: 30%;
  background-color: #E1C7B2
}
.feedback button{
  background-color: #EDDECF;
  margin-left: 0.5vh;
  border-radius: 5px;
  border: 1px solid;
}
.feedback button:hover{
  transform: scale(1.1);
}
.feedback td{
  background-color: white;
  color: black;

}

.feedback table{
  width: 100%
}



.top ul{
  list-style-type: none;
  background-color: #BC8355;
  margin: 0;
  height: 20px;
  max-width: 100%;
  padding-left: 4px;
  padding-bottom: 30px;
  overflow: visible;
  width: 100%;
  top: 2px;
  z-index: 1;
}
.top li{
  float: left;
  font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;;
  margin: 0;
  font-size: 0.9rem;
}
.top ul li:nth-child(4){
  float: right;
}
.top li a{
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 10px;
  text-decoration: none;
  display: block;
  color: #fff;
  margin: 0;
}
li a:hover{
  color: #000;
}
.active{
  background-color: #EEECE0;
}
.active:hover{
  color: #000;
}
.top{
  border: none;
  height: inherit;
  margin: 0;
  padding: 0;
}
.productimages{
  display: flex;
  flex: 100%;
}
.productimages img{
  width: 100%;
  height: 100%;
}
.productdetails{
  height: 100%;
}
.productdetails hr{
  height: 2px !important;
  background-color: #BC8355;
  margin-left: 1vh;
}
.productdetails button{
  float: right;
  margin-bottom: 2vh;
  margin-right: 2vh;
  border: none;
  border-radius: 10px;
  width: 10vh;
  background-color: #EDDECF;
}
.productdetails button:hover{
  transform: scale(1.1);
}
.productdetails p{
  font-size: 4vh;
  margin: 1vh 1vh;
  text-transform: capitalize;
  font-family: montserrat;
}
.price {
  margin: 0 2vh;
}

.price p{
  font-size: 2vh;
}
.mid table{
  width: 100%;
}
.mid td{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1vh;

}
.mid{
  background-color: #FFFFFF;
  margin: 0 25%;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 70% 30%;

}
.carvetext{

}
.mid p{
  text-align: justify;
}
.mid button{
  height: 30px;
  width: 100px;
  background-color: #EDDECF;
  border: 1px solid;
}
.login-box input[type ="text"], input[type="password"]
{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #BC8355;
  background: transparent;
  outline: none;
  height: 40px;
  color: #black;
}
.login-box{


  background:#EEECE0;
  border-radius: 10px;
  padding: 70px;
}
.login-box h1
{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 2px solid #0ef9e6;
  font-family:monospace;
  color: #86bde1;
}
.login-box input[type="submit"]{

  border:none;
  outline: none;
  height: 40px;
  background-color: #F7B103;
  font-size: 17px;
  color:#23395d;
  border-radius: 10px;
}
.login{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -50px;
}
 .login-box input{
  width: 100%;
  margin-bottom: 20px;
}
.login-box img{
 
 margin: 0 40%;
}
.login-box p:nth-child(2){
  text-align: center;

}



footer{
  background-color: #303443;
  width: 100%;
  display: flex;
  font-family: montserrat;
}
.footer{
  display: grid;
  grid-template-columns: 70% 20%;
  border: none;
  padding-bottom: 30px;
  padding-top: 20px;
  overflow: visible;
}
.footer1{
  padding: 20px 20px;
  width: 100%;
  text-align: justify;
  color: #FFFFFF;
  grid-column: auto;
}
.footer1 p{
  font-size: 12px;
  max-width: 40%;
}
.footer2{
  width: 100%;
  text-align: center;
}
.footer2 h1{
  color: #B77A48;
}
.footer2 img{
  padding-left: 20px;
}

footer hr{
  background-color: #F7B103;
  margin: 2vh 3vh;
  width: 170vh;
  border: none;
}
.footer3{
  margin-left: 5%;
  margin-top: 2%;
}
.footer3 img{
  height: 50px;
  width: 50px;
}
.footer3 p{
  font-size: 16px;
  font-family: montserrat;
  color: white;
  padding-left: 3px;
}


.modal-upper button{
  float: right;
  background-color: transparent;
  border: none;
}
.modal-upper button:hover{
  transform: scale(1.3);
}
.modal-upper img{
  margin-left: 44%;
  height: inherit;
  width: inherit;
}
.modal-body{
  background-color: #EEECE0;

}
.inputs p{
  font-size: 1.5vh;
  margin: 2vh 0;
  text-align: center;
}
.inputs input{
  margin: 1vh 0;
  width: 100%;
}
.inputs input:nth-of-type(3){
  background-color: #BC8355;
  border-radius: 10px;
  border: none;
}
.inputs input:nth-of-type(3):hover{
  transform: scale(1.1);
}
.divider{
  margin: 3vh 5vh;
  display: grid;
  grid-template-columns: 45% 5% 45%;
  text-align: center;
}
.reg{
  margin: 3vh 5vh;

}
.top button{
float: right;

}
.quantity input{
background-color: #EFF0F5;
}


/* Dropdown Button */
.dropbtn {
  height: 3.1vh;
  background-color: transparent;
  color: white;

  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  z-index: 1;
  float: right;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: ;}