.top{
border: 1px solid;
height: 100px;
width: 100%;

}
.mid{
padding-top: 50px;
padding-bottom: 50px;
background-color: #F7B103;
background-size: cover;
display: grid;
grid-template-columns: 30% 70%;

}
.midtext{
  font-family: montserrat;

}
.midtext h1{
  text-align: center;
  color: white;
}
.midtext img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 35%;
}
.midtext p{
  margin: 7% 5%;
  color: white;
  font-size: 2vh;
  text-align: center;
}
.midtext button{
  margin: 20% 25%;
  color: #F7B103;
  background-color: white;
  border: none;
  border-radius: 50px;
  width: 30vh;
  height: 5vh;
  font-size: 2.5vh;
}
.midtext button:hover{
  transform: scale(1.1);
}


.midinfo{
margin-right: 3%;
background-color: #F7F8FA;
padding: 8% 0;
border-top-left-radius: 120px;
border-bottom-left-radius: 120px;
padding-left: 5%;
font-family: montserrat;
}

.midinfo p{
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}

.midinfo input{
margin: 2vh 0;
width: 30vh;
height: 5vh;
border-radius: 10px;
border: 1px solid #B1B1B1;
}
.midinfo input:nth-last-child(2){
  float: right;
  margin-right: 2%;
  color: white;
  background-color: #F7B103;
  border: none;
  border-radius: 50px;
}
.midinfo input:nth-last-child(1){
  float: right;
  margin-right: 2%;
  color: white;
  background-color: #F7B103;
  border: none;
  border-radius: 50px;
}
.midinfo input:nth-last-child(1):hover{
  background-color: #FEBC1E;
  transform: scale(1.1);

}
.midinfo input:nth-last-child(2):hover{
  background-color: #FEBC1E;
  transform: scale(1.1);

}

.midinfo label{
  margin: 0 3%;
}

.midinfo button{
  height: 40px;
  width: 100px;
  margin-left: 20%;
}
